body {
    font-family: sans-serif;
    width: 100%;
}

h1 {
    width: 75%;
}

nav {
    width: 25%;
    margin-left: auto;
}

div {
    margin-bottom: 3%;
    width: 75%;
}

#banner {
    display: flex;
    justify-content: flex-end;
}

#formRecherche {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#formRecherche input {
    height: 5vh;
}

