
body{ 
	background:#f8f8f8;
	font: medium, Trebuchet MS, Arial, Helvetica, Sans-Serif;
	color:#333;
	line-height:160%;
	margin:0;
	padding:0;
}
div{
    text-align:center;
}
h1{
	font-size:200%;
	font-weight:normal;
    text-align:center;
	}
h2{
    font:150% Trebuchet MS, Arial, Helvetica, Sans-Serif;
    line-height:160%;
}		
h3{
    font:100% Arial, Helvetica, Sans-Serif;
}	
input, textarea, liste,select{
	font:100% Trebuchet MS, Arial, Helvetica, Sans-Serif;
	line-height:160%;
	color:#333;
	}				
p{
	margin:1em 0;
    width: auto;	
	padding:3px 0px 3px 25px;
    font:100% Trebuchet MS, Arial, Helvetica, Sans-Serif;
	line-height:160%;
	}

input[type="number"] {
   width:30px;
}

fieldset{
	margin:0;
	padding-top:.5em;
	border:none;	
	border-top:1px solid #f1f1f1;
	}		
legend{
	background:#fff;
	padding:0 5px;
	font-style:italic;
    font-size:150%;
	}

profil{
    margin : auto;
    width : 100px;
}

presentation{
    float : left;
    margin : 3%;
}

description{
    float :none;
    font:150% Trebuchet MS, Arial, Helvetica, Sans-Serif;
    text-align: left;
}


input, textarea{	
	margin:0;	
	width: auto;
	border:1px solid #ddd;		
	padding:3px 0px 3px 25px;
	}		
	
input#prenom{background:#fff url(form_name.gif) no-repeat 5px 50%;}
input#nom{background:#fff url(form_name.gif) no-repeat 5px 50%;}
input#nom_utilisateur{background:#fff url(form_name.gif) no-repeat 5px 50%;}
input#mail{background:#fff url(form_email.gif) no-repeat 5px 50%;}
input#mdp1{background:#fff url(cle.gif) no-repeat 5px 50%;}
input#mdp2{background:#fff url(cle.gif) no-repeat 5px 50%;}
input#tel{background:#fff url(tel.gif) no-repeat 5px 50%;}
textarea#preference{background:#fff url(preference.gif) no-repeat 5px 6px;}
input#depart{background:#fff url(depart.gif) no-repeat 5px 50%;}
input#arrivee{background:#fff url(arrivee.gif) no-repeat 5px 50%;}
input#villePassage{background:#fff url(bus.gif) no-repeat 5px 50%;}

button{
	height:28px;
	line-height:28px;		
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
	color:#333;
	cursor:pointer;
	text-align:left;
	font-size: medium;
	font-weight:bold;
}

input#image-button{
    background: #f8f8f8 url('loupe.gif') no-repeat;
    padding-left: 30px;
    height: 25px;
    border : none;
}		

input#image-add{
    background: #f8f8f8 url('bus.gif') no-repeat;
    padding-left: 30px;
    height: 16px;
    border : none;
}		
